<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crush Finder - Results</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h2>Submit Your Crush</h2>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class="flash-messages">
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    <form action="/submit_crush" method="post">
        <label for="name">Your Instagram:</label><br>
        <input type="text" name="name" placeholder="Your Instagram" required><br>
        <label for="instagram">Crush's Instagram:</label><br>
        <input type="text" name="instagram" placeholder="Crush's Instagram" required><br>
        <button type="submit">Submit</button>
    </form>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
